@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Fredericka+the+Great&family=Indie+Flower&family=Pangolin&family=Permanent+Marker&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}

.flex-title {
  color: light-dark(#e02d2d, #ffffff);
  font-size: clamp(3rem, 7vw, 6rem);
}

/* fonts */

.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
